name: Windows MSYS

on: [push, pull_request]

env:
  PATH: 'C:\msys64\usr\bin;C:\Program Files\Git\bin;C:\windows\system32;C:\windows'
  FORCE_COLOR: 1

defaults:
  run:
    shell: cmd

jobs:
  windows-msys:
    runs-on: windows-latest
    if: "!contains(github.event.head_commit.message, 'ci skip')"
    strategy:
      matrix:
        shells:
          - {shell: mksh,        package: mksh}
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - run: pacman.exe -Syu --noprogressbar --noconfirm
      - run: pacman.exe -S --noprogressbar --noconfirm ${{ matrix.shells.package }}
      - run: echo ok

